@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
}
#header #mainPhoto #logo{
	width:1000px;
	height: 100px;
	top: 0;
	left: 0;
	right:0;
	margin: 0 auto;
	position:absolute;
	z-index: 102;
}
/*index用　始*/
#header #mainPhoto {
	position: relative;
	min-width:1000px;
}
#header #mainPhoto h1 img{
	margin:20px 40px 20px 20px;
	width:50px;
	height:50px;
	vertical-align:middle;
}
#header #mainPhoto h1 {
	color: #868686;
	width:500px;
}
#header h1 a:hover{
	background-color:#ffffff;
	opacity: 0.5;
}
.viewer {
    margin: 0 auto;
    height: 700px;
    text-align: left;
    overflow: hidden;
	background-color: #ffffff;
}
.viewer ul {
    text-align: left;
    position: relative;
}
.viewer ul li {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: none;
    position: absolute;
}
#mainPhoto .viewer img{
	width: 100%;
	min-width:1000px;
	height: 700px;
}
#header #mainPhoto #nav{
	width:1000px;
	right:0;
	left: 0;
	margin: 0 auto;
	bottom:0;
	height: 90px;
	overflow: hidden;
	position:absolute;
	z-index: 102;
}
#header #mainPhoto #nav li{
	float: left;
	list-style-type: none;
	width: 200px;
	height: 90px;
}
#header #mainPhoto #nav li img{
	height: 180px;
	position: absolute;
	width:100%;
}
#header #nav a img:hover{
	top:0;
}
#mainInner {
	width:1000px;
	color: #000000;
	font-size: 12px;
	height: auto;
	margin: 0 auto;
}
.newsTop{
	width:400px;
	height: 40px;
	line-height: 40px;
	border-bottom:3px solid #093920;
	position:relative;
}
#news #topics{
	width:340px;
	height:26px;
	overflow: hidden;
	position: absolute;
	left: 50px;
	top:0;
	bottom:0;
	margin: auto 0;
}
#news  #topics li {
	float: left;
	height: 40px;
	margin-left: 30px;
	list-style: none;
}
#news #topics li img{
	width:80px;
	height: 50px;
	position:relative;
	margin-top: -40px;
}
#news #topics li img:active{
	margin-top: 0px;
}
#news #topics #topi img{
	margin-top:0px;
}
.newsTop2{
	width:200px;
	border-bottom:3px solid #093920;
	height: 40px;
	line-height:40px;
}
#mainInner #aside {
	width:200px;
	float:right;
	height: 300px;
	margin-right: 30px;
}
#mainInner #aside #banner li{
	width:100px;
	list-style-type: none;
	height:40px;
	float: left;
}
#mainInner #aside #banner li:nth-child(odd){
	clear: both;
}
#mainInner #aside #banner li img{
	width:100px;
	height: 40px;
}
#mainInner #aside #banner li:hover{
	opacity: 0.5;
}
.newsTop3{
	width:1000px;
	height: 40px;
	border-bottom:3px solid #093920;
	margin-top:40px;
	line-height:40px;
}
#servic{
	margin: 50px 0;
	height: 1800px;
	clear: both;
}
#servic li{
	height: 500px;
	list-style: none;
	position: relative;
	margin-bottom: 100px;
}
#servic li div.black{
	background-color:#000;
	width:1000px;
	height:500px;
}
#servic li dl{
	position: absolute;
	top:0;
	color:#ffffff;
	font-size:24px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
}
#servic li dt{
	width:1000px;
	height:100px;
	line-height:100px;
	text-align: center;
}
#servic li dd{
	width:400px;
	height:400px;
	line-height: 40px;
	margin-left:20px;
}
#servic li:last-of-type dd{
	right: 20px;
	position: absolute;
}
#servic li img{
	width:1000px;
	height: 500px;
	vertical-align: middle;
}
/*index用　終*/
#header #logo{
	width:1000px;
	margin: 0 auto;
}
#header h1{
	font-family:Georgia, "Times New Roman", Times, "serif";
	margin-left: -20px; 
}
#header h1 img{
	margin:20px 40px 20px 20px;
	width:50px;
	height:50px;
	vertical-align:middle;
}
#header h1 a{
	display: block;
	color:#3521AD;
	width:500px;
	text-decoration:none;
}
#nav{
	width:1000px;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
}
#header #nav li{
	float: left;
	list-style-type: none;
	width:200px;
	height: 90px;
	position:relative;
}
#header #nav li img{
	width:100%;
	height: 180px;
	margin-top: -90px;
}
#header #nav li img:hover{
	margin-top: 0;	
}
#breadcrumb a{
	color:#868686;
}
#breadcrumb h2{
	margin: 20px 0;
}
#mainInner h2 {
	float: left;
}
#mainInner #news {
	float: left;
}
#colum{
	margin-bottom: 100px;
}
#colum .newsTop{
	clear: both;
	overflow: hidden;
	border-bottom:3px solid #093920;
	width:100%;
	height: 40px;
}
#footer {
	clear: both;
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	min-width: 1000px;
	color:#ffffff;
	font-size:14px;
}
#footer #footerInner{
	width:1000px;
	margin: 0 auto;
	padding-top:20px;
}
#footer #footerInner li{
	margin: 10px;
}
#footer #footerInner li:first-child{
	margin-top:-1px;
	float:right;
	list-style-type: none;
	text-decoration:underline;
	background-color:#005243;
	transition:	color 0.2s linear;
	cursor: pointer;
}
#footer #footerInner li:first-child:hover{
	color:#000;
}
#footer #footerInner li:last-child {
	margin-bottom: 40px;	
}
#footer p{
	text-align: right;
}
#footer a{
	color:#ffffff;
}
#footer p a{
	text-decoration: none;
}
#footer #footerInner a:visited{
	color:#A3A3A3;
}
#footer #footerInner a:hover{
	color:#ffffff;
}


/**index以外のぱページ*/
#contents{
	margin: 20px 0;
	line-height:1.6em;
	font-size:10px;
}
/*contactのcss*/
#form{
	padding:10px;
	border-top:1px solid #ffffff;
}
#form dl{
	border:1px solid #000000;
	border-top:0;
}
#form dl dt,#form dl dd{
	border-top:1px solid #000000;
	height: 15px;
	padding:10px 10px 15px 10px;
}
#form dl dt{
	width:11em;
	float:left;
	clear:both;
}
#form dl dd{
	border-left:1px solid #000000;
	margin-left:11em;
}
#text{
	width:13em;
	padding:4px;
	vertical-align: top;
}
#email{
	width:30em;
	padding:4px;
	vertical-align: top;
}
#form #radio2,#form #radio3{
	margin-left:18px;
}
#form .textarea{
	height: 90px;
}
#textarea{
	width:500px;
	height:80px;
}
#form #submit{
	text-align: center;
}
input[type="submit"]{
	font-size:18px;
	margin-bottom:5px;
	background-color:#C0C0C0;
}
/*お問い合わせ内容の確認*/
#contents table{
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top:0;
	font-size:15px;
	margin: 0 auto;
}
#contents  th,#contents  td{
	border-top:1px solid;
	padding:20px;
}
#contents  th{
	border-left: 1px solid;
	width:200px;
}
#contents  td{
	border-left:1px solid #000000;
	width:957px;
}
#form2 #submit2{
	text-align: center;
	margin-top:30px;
}
/*会社概要*/
iframe{
	vertical-align: top;
	margin:6px 20px 0 0;
}
/*wordpress php*/
#wordpress{
	font-size:14px;
}
.cate{
	width:400px;
	height: 50px;
	border-bottom:1px dashed #000000;
}
.date,.phpCategory,.text{
	width:12em;
}
.date{
	float: left;
}
.phpCategory{
	height: 2em;
	float: right;
	text-align: right;
}
.text{
	float:left;
}
/*エラー画面*/
#contentsPhp{
	margin-left:40px;
	line-height:1.6em;
	font-size:1.5em;
	width:900px;
}
#contentsPhp #errList{
	margin-top:20px;
}
#backButton button{
	font-size:12px;
	width:50px;
	height:20px;
	margin-top:30px;
}