Addhandler php5-script .html
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /INTERNET_TRADING/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /INTERNET_TRADING/wordpress/index.php [L]
</IfModule>

# END WordPress